/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

    .button_submit {
    
    right: -23px !important;
}
    .shrink {
        background-color: #0a292d96 !important;
    }

    .container {
        width: 90%;
    }

    .music_navigation_main {
        top: 12px;
    }

    .music_navbar li a {
        padding: 8px 6px;
        font-size: 15px;
    }

    .music_voting_slider .carousel-inner .item .carousel-caption h2 {
        font-size: 40px;
    }

    .music_voting_slider .carousel-inner .item .carousel-caption p {
        font-size: 14px;
        padding: 0px 90px;
    }

    .music_navbar li a.btn {
        padding: 8px 28px;
        border-color: #ffffff;
        background-color: inherit;
        margin-left: 6px;
    }

    .promote_music {
        padding: 20px 0px;
    }

    .promote_music h2 {
        font-size: 30px;
    }

    .promote_music p {
        font-size: 14px;
        margin-top: 18px;
    }

    .promote_music a {
        margin-top: 20px;
        font-size: 14px;
        padding: 3px 55px;
    }

    .bg_gray {
        padding: 16px 0px;
    }

    .player_audio {
        padding: 30px 0px;
    }

    .player_left_side {
        float: left;
        width: 300px;
        height: 300px;
    }

    .player_body h4 {
        font-size: 30px;
        margin-top: 60px;
        margin-bottom: 30px;
    }

    .player_body p {
        font-size: 16px;
    }

    .songs_box {
        height: 245px !important;
    }

    .songs_box p {
        font-size: 16px;
    }

    .songs_box p a {
        font-size: 16px;
    }

    .sign_up_now {
        margin-top: 30px;
        margin-bottom: 20px;
    }

    .sign_up_now p {
        font-size: 16px;
    }

    .sign_up_now a {
        margin-top: 15px;
    }

    .heading_two {
        padding: 20px 0px;
    }

    .work_box h4 {
        margin-top: 15px;
    }

    .work_box p {
        font-size: 16px;
        margin-top: 12px;
        padding: 0px 18px;
    }

    .what_we_do p {
        margin-top: 20px;
    }

    .laptop_picture {
        margin-top: 67px;
    }

    .what_we_do a {
        margin-top: 30px;
    }

    .what_we_do a span {
        font-size: 20px;
    }

    .contest_bg {
        padding: 100px 0px;
        background-size: 100%;
    }

    .contest_box h2 {
        font-size: 30px;
    }

    .contest_box p {
        font-family: 'Conv_Montserrat-Regular';
        text-align: center;
        font-size: 16px;
        color: #282828;
        margin-top: 16px;
        padding: 0px 80px;
    }

    .footer_logo {
        padding: 15px 0px;
    }

    .footer_logo ul {
        margin-top: 10px;
    }

    .copy_right {
        padding: 8px 0px;
    }

    .copy_right p {
        font-size: 14px;
    }
}

/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) {
    .button_submit {
   
    top: -5%;
    right: -25px !important;
}

    .s_col_border:nth-of-type(2n) {
 
    border-bottom: none !important;
}
    .fa_btn {
    padding-right: 56px !important;
    
}
    .shrink {
        background-color: #0a292d96 !important;
    }

    .container {
        width: 90%;
    }

    .music_navigation_main {
        top: 12px;
    }

    .music_navbar li a {
        padding: 8px 5px;
        font-size: 14px;
    }

    .music_voting_slider .carousel-inner .item .carousel-caption h2 {
        font-size: 20px;
    }

    .music_voting_slider .carousel-inner .item .carousel-caption p {
        font-size: 14px;
        padding: 0px 0px;
    }

    .music_voting_slider .carousel-inner .item .carousel-caption a.btn {
        margin-top: 5px;
    }

    .music_navbar li a.btn {
        padding: 6px 10px;
        border-color: #ffffff;
        background-color: inherit;
        margin-left: 6px;
    }

    .promote_music {
        padding: 20px 0px;
    }

    .promote_music h2 {
        font-size: 20px;
    }

    .promote_music p {
        font-size: 14px;
        margin-top: 10px;
    }

    .promote_music a {
        margin-top: 14px;
        font-size: 12px;
        padding: 5px 40px;
    }

    .bg_gray {
        padding: 16px 0px;
    }

    .playing_heading h2 {
        font-family: 'Conv_bebas';
        color: #282828;
        font-size: 30px;
        text-align: center;
        margin-bottom: 12px;
    }

    .player_audio {
        padding: 20px 0px;
    }

    .player_left_side {
        float: left;
        width: 250px;
        height: 250px;
    }

    .player_body h4 {
        font-size: 20px;
        margin-top: 0px;
        margin-bottom: 10px;
    }

    .player_body p {
        font-size: 14px;
    }

    .change_width {
        width: 25%;
    }

    .songs_box {
        
    }

    .songs_box p {
        font-size: 14px;
    }

    .songs_box p a {
        font-size: 14px;
    }

    .sign_up_now {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .sign_up_now p {
        font-size: 16px;
        padding: 0px 160px;
    }

    .sign_up_now a {
        margin-top: 15px;
    }

    .heading_two {
        padding: 30px 0px;
    }

    .heading_two h2 {
        font-family: 'Conv_bebas';
        color: #454545;
        font-size: 30px;
        text-align: center;
    }

    .work_box {
        
        margin-bottom: 20px;
    }

    .work_box h4 {
        margin-top: 15px;
    }

    .work_box p {
        font-size: 16px;
        margin-top: 12px;
        padding: 0px 18px;
    }

    .what_we_do {
        text-align: center;
    }

    .what_we_do h2 {
        font-family: 'Conv_bebas';
        color: #282828;
        font-size: 30px;
        text-align: center;
    }

    .what_we_do p {
        margin-top: 20px;
        text-align: center;
        font-size: 14px;
    }

    .laptop_picture {
        margin-top: 20px;
    }

    .what_we_do a {
        margin-top: 20px;
    }

    .what_we_do a span {
        font-size: 16px;
    }

    .mid-div {
        display: none;
    }

    .contest_bg {
        padding: 43px 0px;
        background-size: 100%;
    }

    .contest_box h2 {
        font-size: 25px;
    }

    .contest_box p {
        font-family: 'Conv_Montserrat-Regular';
        text-align: center;
        font-size: 16px;
        color: #060606;
        margin-top: 16px;
        padding: 0px 40px;
    }

    .footer_logo {
        padding: 15px 0px;
    }

    .footer_logo ul {
        margin-top: 10px;
    }

    .copy_right {
        padding: 8px 0px;
    }

    .copy_right p {
        font-size: 14px;
    }
    .img-responsive.center-block {
    /*height: 0px !important;*/
}
.modal-dialog.modal-sm {
    width: 95% !important;
}
.container-fluid.bg_greycolor {
   
    margin-top: 50px !important;
}
.top_ranking {
    margin-top: -12px !important;
}

.top_ranking img {
   
    min-height: 0px !important;
   
}

.f_btn {
    margin-left: 82px !important;
    padding: 6px 46px !important;
}
.s_col_border:nth-of-type(2n+1) {
    border-right: none !important;
    height: 235px;
    border-bottom: none !important;
}
h3.contest_subheading {
    
    padding-bottom: 25px;
    padding-top: 25px;
}
form.f_form {
    text-align: center;
}
.col-md-6.col-sm-6.col-xs-12.s_col_border {
    margin: 25px 0px;
}
.s_btn_random {
    margin-top: 23px !important;
}
}

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
    nav.shrink .navbar-brand {
        width: 20%;
    }

    nav.shrink .navbar-toggle {
        padding: 10px 10px;
        margin: 40px 15px 8px 0;
    }

    .container {
        width: 90%;
    }

    .navbar-toggle {
        background-color: #cf1828;
    }

    .navbar-toggle .icon-bar {
        background-color: #fff;
    }

    .music_voting_slider .carousel-inner .item .carousel-caption h2 {
        font-size: 20px;
    }

    .music_voting_slider .carousel-inner .item .carousel-caption p {
        padding: 0px 0px;
    }

    .music_voting_slider .carousel-inner .item .carousel-caption a.btn {
        margin-top: 8px;
    }

    .promote_music {
        padding: 20px 0px;
    }

    .promote_music h2 {
        font-family: 'Conv_bebas';
        color: #282828;
        font-size: 25px;
        text-transform: uppercase;
    }

    .promote_music p {
        font-size: 14px;
        margin-top: 20px;
    }

    .promote_music a {
        margin-top: 20px;
        font-size: 14px;
        padding: 6px 50px;
    }

    .bg_gray {
        padding: 20px 0px;
    }

    .playing_heading h2 {
        font-size: 25px;
        text-align: center;
    }

    .player_audio {
        padding: 20px 0px;
    }

    .player_left_side {
        float: left;
        width: 250px;
        height: 250px;
    }

    .player_body h4 {
        font-size: 20px;
        margin-top: 0px;
        margin-bottom: 15px;
    }

    .player_body p {
        font-size: 16px;

    }

    .change_width {
        width: 25%;
    }

    .songs_box {
        text-align: center;
        /*height: 190px;*/
        margin-bottom: 30px;
    }

    .songs_box p {
        font-size: 14px;
    }

    .songs_box p a {
        font-size: 14px;
    }

    .sign_up_now {
        margin-top: 25px;
    }

    .sign_up_now p {
        padding: 0px 100px;
    }

    .sign_up_now a {
        margin-top: 20px;
    }

    .heading_two {
        padding: 20px 0px;
    }

    .heading_two h2 {
        font-size: 25px;
        text-align: center;
    }

    .work_box {
        height: 215px;
        margin-bottom: 15px;
    }

    .work_box h4 {
        font-size: 16px;
        margin-top: 10px;
    }

    .work_box p {
        font-size: 14px;
        margin-top: 30px;
        padding: 0px 13px;
        letter-spacing: 1px;
    }

    .what_we_do {
        text-align: center;
    }

    .what_we_do h2 {
        font-size: 25px;
        text-align: center;
    }

    .what_we_do p {
        font-size: 16px;
        text-align: center;
        margin-top: 20px;
    }

    .what_we_do a {
        margin-top: 25px;
    }

    .what_we_do a span {
        display: block;
        font-size: 20px;
        font-family: 'Conv_Montserrat-Regular';
    }

    .laptop_picture {
        margin-top: 20px;
    }

    .contest_bg {
        padding: 28px 0px;
        background-size: 100%;
    }

    .contest_box h2 {
        font-size: 20px;
    }

    .contest_box p {
        font-size: 16px;
        margin-top: 15px;
        padding: 0px 33px;
    }

    .footer_logo {
        padding: 15px 0px;
    }

    .copy_right p {
        font-size: 14px;
    }

}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 767px) {
    h3.artist {
    font-size: 10px !important;
  
}
    .button_submit {
   
    top: -2% !important;
    right: 14px !important;
}

.s_btn_random {
    margin-top: 22px;
}

/*.img-responsive.center-block {
    height: auto !important;
}*/
h4.f_reg {
    margin-top: 35px !important;
}

.work_box p {
   
    font-size: 9px !important;
  
    padding: 0px 0px !important;
}
.contest_box h2 {
   
    font-size: 28px !important;
    text-align: center;
}
.contest_box p {

    font-size: 12px !important;
 
    text-align: left !important;
}
h3.subscribe {
    FONT-SIZE: 14PX !important;
    LINE-HEIGHT: 13px !important;
    margin-top: 22px !important;
}
footer {
    margin-top: 76px;
}
h3.winner_name_heading {
  
    text-align: center;
}

.music_voting_slider .carousel-inner .item .carousel-caption h2 {
    
    font-size: 16px !important;
}

.music_voting_slider .carousel-inner .item .carousel-caption p {
    font-family: 'Conv_Montserrat-Regular';
    color: #ffffff;
    font-size: 9px !important;
    font-weight: normal;
    margin-top: 14px;
    padding: 0px 0px !important;
}

.navbar-toggle {
  
    background-color: #c7c3c3f2 !important;
   
    border: 1px solid #c7c3c3f2 !important;
   
}
.music_voting_slider .carousel-inner .item .carousel-caption a.btn {
  
    margin-top: 4px !important;
    


}
.s_col_border:nth-of-type(2n+1) {
   
    height: 374px !important;
    border-right: none !important;
    
    border-bottom: none !important;
    
}
.s_col_border:nth-of-type(2n) {
    height: 370px !important;
   
}
.f_btn {
    /* text-align: center; */
    /* margin: 0 auto; */
    margin-left: 91px !important;
}
.fa_btn {
    /* padding-right: 89px !important; */
    /* padding-left: 33px !important; */
    margin-left: 88px !important;
}
.f_btn {
  
    padding-right: 61px !important;
}


}

@media only screen and (min-device-width: 375px) and (max-device-height: 812px){
    .songs_box {
   
   /* height: 445px !important;*/
   
}
.sign_up_now {
   
    margin-top: 186px !important;
}
.s_col_border:nth-of-type(2n+1) {
    border-right: none !important; 
  
    border-bottom:none !important; 
}
.s_col_border:nth-of-type(2n) {
   
    border-bottom: none !important;
}
/*form.f_form {
    margin-left: 90px;
}*/
.f_btn {
    /* text-align: center; */
    /* margin: 0 auto; */
    /* padding: 10px; */
    margin-left: 90px !important;
}
h3.contest_subheading {
   
    margin-bottom: 27px !important;
}
.s_col_border:nth-of-type(2n) {
    height: 377px !important;
   
}
.s_col_border:nth-of-type(2n+1) {
   
    height: 375px !important;
   
}
.f_btn {
 
    padding-right: 71px !important;
}

}

@media (min-width: 320px) and (max-width: 767px) and (orientation:landscape){

    footer {
    margin-top: 99px !important;
}
input.f_sub {
    
    font-size: 12px !important;
}
.button_submit {
   
    top: 0% !important;
    right: -43px !important;
}
.f_btn {
    /* text-align: center; */
    /* margin: 0 auto; */
    /* padding: 10px; */
    margin-left: 195px !important;
}
.fa_btn {
    /* padding-right: 89px !important; */
    /* padding-left: 33px !important; */
   margin-left: 195px !important;
}
    }