@charset "utf-8";
/* CSS Document */
/* =Reset default browser CSS.
-------------------------------------------------------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    border: 0;
    font-family: inherit;
    font-size: 14px;
    font-family: 'Lato-Medium';
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
}
.profileName{
    text-align: center;
    font-size: 40px;
    font-family: fantasy;
    font-variant: ordinal;
    font-stretch: expanded;                    
}

* {
    outline: none
}

:focus { /* remember to define focus styles! */
    outline: 0;
}

a {
    text-decoration: none;
}

a:active {
    outline: 0;
}

ol, ul {
    list-style: none;
}

table { /* tables still need 'cellspacing="0"' in the markup */
    border-collapse: separate;
    border-spacing: 0;
}

caption, th, td {
    font-weight: normal;
    text-align: left;
}

body {
    background-color: transparent;
    color: #454444;
    font-size: 16px;
    position: relative;
}

html, body {
    height: 100%;
}

a img {
    border: 0;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.clearfix {
    clear: both;
}

.col-center {
    float: none;
    margin: 0px auto;
}

.r-m-p {
    margin: 0px;
    padding: 0px;
}

/*********** ./END RESET CSS HERE./*******/
/** Generated by FG **/
@font-face {
    font-family: 'Conv_Montserrat-Regular';
    src: url('../fonts/Montserrat-Regular.eot');
    src: local('☺'), url('../fonts/Montserrat-Regular.woff') format('woff'), url('../fonts/Montserrat-Regular.ttf') format('truetype'), url('../fonts/Montserrat-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Conv_bebas';
    src: url('../fonts/bebas.eot');
    src: local('☺'), url('../fonts/bebas.woff') format('woff'), url('../fonts/bebas.ttf') format('truetype'), url('../fonts/bebas.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Conv_Montserrat-SemiBold';
    src: url('fonts/Montserrat-SemiBold.ttf');
    src: local('☺'), url('../fonts/Montserrat-SemiBold.ttf') format('woff'), url('../fonts/Montserrat-SemiBold.ttf') format('truetype'), url('../fonts/Montserrat-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

h4.login-title {
              font-family: 'Conv_bebas';
              text-align: center;
              font-size: 40px;
              color: #ca0202;
              text-transform: uppercase;
              padding: 55px 0;
            }
            .modal-body {
                margin-top: 10px;
            }
            button.btn.btn-default {
                background-color: #ca0202;
                border-color: #ca0202;
            }
            .red-color
            {
              border: 1px solid #ca0202;
            }
            .login-footer
            {
              margin: 0 0 25px 0;
              text-align: center;
            }
            .login-footer a
            {
              font-family: 'Conv_Montserrat-Regular';
              color: #ca0202;
              font-size: 16px;
              letter-spacing: -0.5px;
            }

.bg_color_white {
    background-color: #FFFFFF;
}

.bg_gray {
    background-color: #f4f4f4;
}



.shrink {
    top: 0px !important;
    background-color: #0a292d96;
    border-bottom: 1px solid #cf182880;
}

.music_navigation_main {
    top: 20px;
}

nav.shrink a {
    padding-top: 5px !important;
    padding-bottom: 5px !important;

}

nav.shrink .navbar-brand {
    width: 100%;
}

nav.shrink .navbar-toggle {
    padding: 4px 5px;
    margin: 8px 15px 8px 0;
}

nav.shrink .music_navbar {
    margin-top: 35px !important;
}

.music_navbar {
    margin: 33px 0px;
}

.music_navigation_main > div .navbar-brand {
    height: auto;
    padding: 0px;
}

.music_navbar li a {
    font-family: 'Conv_Montserrat-Regular';
    color: #ffffff !important;
    /*color: #040406 !important;*/
    font-size: 16px;
    text-transform: uppercase;
    font-weight: normal;
    padding: 8px 10px;
}

.music_navbar li a:hover {
    text-decoration: none;
    background-color: inherit;
}

.music_navbar > li > a:focus, .music_navbar > li > a:hover {
    text-decoration: none;
    background-color: inherit;
}

.music_navbar li a.btn {
    padding: 8px 25px;
    border-color: #ffffff;
    background-color: inherit;
}

.music_navbar li ul {
    background-color: #0824279e;
}

.music_navbar li ul li a {
    font-size: 14px;
    padding: 2px 18px;
    border-bottom: 1px solid #fef6f5;
}

/*=== THIS IS Music Voting Slider ===*/
.music_voting_slider .carousel-inner .item .carousel-caption {
    text-align: center;
}

.music_voting_slider .carousel-inner .item .carousel-caption h2 {
    font-family: 'Conv_bebas';
    text-transform: uppercase;
    font-size: 50px;

}

.music_voting_slider .carousel-inner .item .carousel-caption p {
    font-family: 'Conv_Montserrat-Regular';
    color: #ffffff;
    font-size: 16px;
    font-weight: normal;
    margin-top: 14px;
    padding: 0px 110px;
}

.music_voting_slider .carousel-inner .item .carousel-caption a.btn {
    font-family: 'Conv_Montserrat-Regular';
    background-color: #cf1828;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    padding: 7px 30px;
    margin-top: 30px;
    border: none;
}

.music_voting_slider .carousel-inner .item .carousel-caption a.btn i {
    margin-left: 10px;
}

.music_voting_slider .carousel-inner .item .carousel-caption a.btn:hover {
    background-color: #cf1828;
    color: #ffffff;
}

/*=== Promot Music Css Here ===*/
.promote_music {
    background-color: #ffffff;
    text-align: center;
    padding: 40px 0px;
}

.promote_music h2 {
    font-family: 'Conv_bebas';
    color: #282828;
    font-size: 40px;
    text-transform: uppercase;
}

.promote_music p {
    font-family: 'Conv_Montserrat-Regular';
    font-size: 16px;
    text-align: center;
    margin-top: 24px;
}

.promote_music a {
    font-family: 'Conv_Montserrat-Regular';
    margin-top: 31px;
    color: #ffffff;
    font-size: 16px;
    background-color: #cf1828;
    border: none;
    text-transform: uppercase;
    padding: 6px 60px;
}

.promote_music a:hover {
    background-color: #cf1828;
    color: #ffffff;
}

.playing_heading h2 {
    font-family: 'Conv_bebas';
    color: #282828;
    font-size: 40px;
}

.bg_gray {
    padding: 30px 0px;
}

.player_audio {
    padding: 50px 0px;

}

.player_box {
    position: relative;
}

.player_left_side {
    float: left;
    width: 380px;
    height: 380px;

}

.player_left_side a {
    display: block;
}

.player_left_side a img {
    width: 100%;
}

.player_body {
    float: left;
}

.player_body {
    margin-left: 20px;
}

.player_body h4 {
    font-family: 'Conv_bebas';
    color: #282828;
    font-size: 40px;
    margin-top: 90px;
    margin-bottom: 40px;
}

.player_body p {
    font-family: 'Conv_Montserrat-Regular';
    color: #282828;
    font-size: 18px;
    text-transform: capitalize;
}

.player_body p span {
    font-family: 'Conv_Montserrat-Regular';
    color: #282828;
    font-size: 18px;
    text-transform: capitalize;
}

.player_body p span i {
    color: #f0da5d;
}

.player_body p span.red_color i {
    color: #cf1828;
}

.songs_box {
    text-align: center;
    height: 260px;
    margin-bottom: 30px;
}

.songs_box p {
    margin-top: 5px;
    font-family: 'Conv_Montserrat-Regular';
    display: block;
    color: #282828;
    font-size: 18px;
}

.songs_box p a {
    font-family: 'Conv_Montserrat-Regular';
    display: block;
    color: #282828;
    font-size: 18px;

}

.songs_box p a:hover {
    text-decoration: none;
}

.songs_box a {
    display: block;
    position: relative;
}

.mask {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background-color: #09090985;
    display: none;
    transition: all 2s ease-in-out;

}

.mask span {
    display: table;
    width: 100%;
    height: 100%;
    /*display: inline-block;*/
    vertical-align: middle;
    line-height: normal;
}

.mask span i {
    color: #ffff;
    margin-top: 73px;

}

.songs_box:hover .mask {
    transition: all 1s ease-in-out;
    display: block !important;
}

.change_width {
    width: 20%;
}

.sign_up_now {
    text-align: center;
    margin-top: 40px;
}

.sign_up_now p {
    text-align: center;
    font-family: 'Conv_Montserrat-Regular';
    color: #282828;
    font-size: 18px;
    text-transform: uppercase;
}

.sign_up_now a {
    font-family: 'Conv_Montserrat-Regular';
    margin-top: 31px;
    color: #ffffff;
    font-size: 16px;
    background-color: #cf1828;
    border: none;
    text-transform: uppercase;
    padding: 6px 60px;
}

.sign_up_now a:hover {
    background-color: #cf1828;
    color: #ffffff;
}

.heading_two {
    padding: 40px 0px;
}

.heading_two h2 {
    font-family: 'Conv_bebas';
    color: #454545;
    font-size: 40px;
}

/*===How IT Work ===*/
.how_it_work_main {
    padding-bottom: 30px;
}

.work_box {
    text-align: center;
}

.work_box h4 {
    font-family: 'Conv_bebas';
    color: #cf1828;
    font-size: 20px;
    margin-top: 40px;
}

.work_box p {
    color: #282828;
    font-family: 'Conv_Montserrat-Regular';
    font-size: 16px;
    margin-top: 30px;
    padding: 0px 36px;
}

/*=== What We Do===*/
.what_we_do h2 {
    font-family: 'Conv_bebas';
    color: #282828;
    font-size: 40px;
}

.what_we_do p {
    font-family: 'Conv_Montserrat-Regular';
    color: #282828;
    font-size: 16px;
    text-align: justify;
    margin-top: 45px;
}

.what_we_do a span {
    display: block;
    font-size: 35px;
    font-family: 'Conv_Montserrat-Regular';
}

.what_we_do a {
    margin-top: 40px;
    font-family: 'Conv_Montserrat-Regular';
    color: #ffffff;
    font-size: 16px;
    background-color: #cf1828;
    border: none;
    text-transform: uppercase;
    padding: 4px 40px;
}

.what_we_do a:hover {
    background-color: #cf1828;
    color: #ffffff;
}

.laptop_picture {
    margin-top: 85px;
}

/*===Contest BOx  Css Here===*/
.contest_bg {
    background: url('../images/contest_bg.png') top right no-repeat;
    padding: 120px 0px;
    text-align: center;
    background-size: 100% 100%;
}

.contest_box h2 {
    font-family: 'Conv_bebas';
    color: #454545;
    font-size: 40px;
}

.contest_box p {
    font-family: 'Conv_Montserrat-Regular';
    text-align: center;
    font-size: 18px;
    color: #282828;
    margin-top: 36px;
    padding: 0px 33px;
}

.contest_box a.btn {
    font-family: 'Conv_Montserrat-Regular';
    margin-top: 31px;
    color: #ffffff;
    font-size: 16px;
    background-color: #cf1828;
    border: none;
    text-transform: uppercase;
    padding: 10px 40px;
}

.bg_red_color {
    background-color: #cf1828;
}

.footer_logo a {
    display: block;
}

.footer_logo {
    text-align: center;
    padding: 25px 0px;
}

.footer_logo ul {
    text-align: center;
    display: inline-table;
    margin-top: 20px;
}

.footer_logo ul li {
    float: left;
}

.footer_logo ul li a {
    padding: 10px 10px;
}

.footer_logo ul li a i {
    color: #ffffff;
}

.copy_right {
    text-align: center;
    padding: 10px 0px;
}

.copy_right p {
    font-family: 'Conv_Montserrat-Regular';
    color: #ffffff;
    font-size: 16px;
}

.btn_random {
    position: absolute;
    bottom: 0;
    right: 0;
}

.btn_random a {
    background-color: #cf1828;
    border: none;
    color: #ffffff;
}

.btn_random a:hover {
    background-color: #cf1828;
    border: none;
    color: #ffffff;

}

.btn_random a.focus, .btn_random a:focus {
    background-color: #cf1828;
    border: none;
    color: #ffffff;
}

.rating .fa-star{color: yellow;}
 
 /*Public Profile By Fareha Start*/


    /*user profile*/


    .user-row {
    margin-bottom: 14px;
}

.user-row:last-child {
    margin-bottom: 0;
}

.dropdown-user {
    margin: 13px 0;
    padding: 5px;
    height: 100%;
}

.dropdown-user:hover {
    cursor: pointer;
}

.table-user-information > tbody > tr {
    border-top: 1px solid rgb(221, 221, 221);
}

.table-user-information > tbody > tr:first-child {
    border-top: 0;
}


.table-user-information > tbody > tr > td {
    border-top: 0;
}
.toppad
{margin-top:20px;
}

.image_profile img.img-circle.img-responsive {
    width: 160px;
    height: 160px;
}

.panel-info {
   
    margin-top: 20px;
}

section.music_track {
    margin-top: 10px;
    margin-bottom: 10px;
}

.table td {
    font-size: 14px;
    font-family: 'Conv_Montserrat-Regular';
}

h3.panel-title {
    font-family: 'Conv_Montserrat-Regular';
}

h3.profile_content {
    text-align: center;
    font-size: 32px;
    font-family: 'Conv_Montserrat-Regular';
    margin-bottom: 12px;
}

 /*Public Profile By Fareha End*/

footer .well div.input-group{
    display: inline;
}
footer .well div.input-group input{
    width: 75%;
    display: inline;
}